<div class="main-content" style="margin-top:80px;">
  <div class="container-fluid">
     
      <div class="row">
          <div class="col-md-8">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Email Subscriptions</h4>
                      <p class="card-category">Last Campaign Performance</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                        <p class="card-category"></p>
                    <div class="card-header card-header-warning card-header-icon">
                    
                        <p class="card-category"></p>
                        <h3 class="card-title">2,696
                           
                        </h3>
                        <img src="../../../assets/img/icon-delivery.png" alt="">
                     
                    </div>
                    <div class="card-footer">
                        Product deliveries
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                        <p class="card-category"></p>
                    <div class="card-header card-header-success card-header-icon">
                       
                            <p class="card-category"></p>
                        <h3 class="card-title">$2.65M</h3>
                        <img src="../../../assets/img/icon-deal.png" alt="">
                    </div>
                    <div class="card-footer">
                            Inventory Turnover
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                
                <div class="card card-stats">
                        <p class="card-category"></p>
                    <div class="card-header card-header-danger card-header-icon">
                      
                            <p class="card-category"></p>
                        <h3 class="card-title">60+</h3>
                        <img src="../../../assets/img/icon-projects.png" alt="">
                    </div>
                    <div class="card-footer">
                            New Projects
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                        <p class="card-category"></p>
                    <div class="card-header card-header-info card-header-icon">
                       
                            <p class="card-category"></p>
                        <h3 class="card-title">396</h3>
                        <img src="../../../assets/img/icon-meeting.png" alt="">
                        <img src="" alt="">
                    </div>
                    <div class="card-footer">
                            Client Meetings
                    </div>
                </div>
            </div>
        </div>
      <div class="row">
          <div class="col-lg-4 col-md-12">
              <div class="card">
                 
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td>
                                              Recent Documents
                                          </td>
                                          
                                      </tr>
                                      <ul>
                                          <li><h3>&bull;Booking Revenue</h3></li>
                                          <li><h3>&bull;Opportunity Status</h3></li>
                                          <li><h3>&bull;Average Sales</h3></li>
                                          <li><h3>&bull;Average Sales Revenue</h3></li>
                                      </ul>
                                     
                                    
                                  </tbody>
                              </table>
                          </div>
                          
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
                <div class="card">                   
                    
                        <div class="tab-contentlast">
                                
                                     
                                      <ul class="weekdays">
                                            
                                            <p style="text-align: center;">Feburary</p>
                                           
                                        <li>Mo</li>
                                        <li>Tu</li>
                                        <li>We</li>
                                        <li>Th</li>
                                        <li>Fr</li>
                                        <li>Sa</li>
                                        <li>Su</li>
                                      </ul>
                                      
                                      <ul class="days">  
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                        <li>6</li>
                                        <li>7</li>
                                        <li>8</li>
                                        <li>9</li>
                                        <li><span class="active">10</span></li>
                                        <li>11</li>
                                        <li>12</li>
                                        <li>13</li>
                                        <li>14</li>
                                        <li>15</li>
                                        <li>16</li>
                                        <li>17</li>
                                        <li>18</li>
                                        <li>19</li>
                                        <li>20</li>
                                        <li>21</li>
                                        <li>22</li>
                                        <li>23</li>
                                        <li>24</li>
                                        <li>25</li>
                                        <li>26</li>
                                        <li>27</li>
                                        <li>28</li>
                                        <li>29</li>
                                        <li>30</li>
                                        <li>31</li>
                                      </ul>
                            
                            
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                    <div class="card">
                       
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                   Tasks Performed
                                                </td>
                                                
                                            </tr>
                                            <ul>
                                                <li><h3>&bull;Booking Done</h3></li>
                                                <li><h3>&bull;Opportunity Grabbed</h3></li>
                                                <li><h3>&bull;Average Sales Fetched</h3></li>
                                                <li><h3>&bull;Average Sales Revenue Generated</h3></li>
                                            </ul>
                                           
                                          
                                        </tbody>
                                    </table>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            
      </div>
  </div>
</div>
